Network Device Health Monitor.json
{
  "name": "Network Device Health Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -160,
        256
      ],
      "id": "71d02866-7f52-4e01-bc1b-15bfaac34132",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.google.com",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        0
      ],
      "id": "80f36fa3-30b8-4918-90f3-0af29883d994",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b5433a5e-c1e8-4e2f-a2d6-e74bd65831cb",
              "leftValue": "={{$json[\"statusCode\"]}}",
              "rightValue": "200",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        176,
        0
      ],
      "id": "f26bfcc3-bb38-4ea5-9b95-d4e5dc3c6cb7",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "580364fe-44ef-4d58-bc49-1e95894c4463",
              "name": "status",
              "value": "DEVICE DOWN",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        208
      ],
      "id": "1696d672-d3f1-49d3-a65a-111f41584dbf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "text": "=🚨 ALERT Device is DOWN Time: {{$now}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        208
      ],
      "id": "ea501289-381a-4a9d-afc7-6715530aa598",
      "name": "Send a text message",
      "webhookId": "47681cb2-8708-431b-9ec8-185946c7832b"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "71abbdd1-09ee-41fb-9474-409bd50f965f",
  "meta": {
    "instanceId": "b3a4faa92ee14f66434ca2f4e3ad290a8866eeda10fa296911f8f61288cf7e63"
  },
  "id": "9VwUQO6vUNsJacle",
  "tags": []
}