Network Device Health Monitor.json
{
  "name": "Network Device Health Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -848,
        -32
      ],
      "id": "ac3e27f0-61f8-452b-9bb5-d4c970e735cc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.google.com",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -688,
        -288
      ],
      "id": "e143f76f-24e6-4e06-abfe-be79a5077cfe",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b5433a5e-c1e8-4e2f-a2d6-e74bd65831cb",
              "leftValue": "={{$json[\"statusCode\"]}}",
              "rightValue": "200",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -512,
        -288
      ],
      "id": "6b981755-1b56-480d-85f8-d1553626b44e",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "580364fe-44ef-4d58-bc49-1e95894c4463",
              "name": "status",
              "value": "DEVICE DOWN",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        -80
      ],
      "id": "dc1d4a4d-08e0-4642-97d6-03f3f868d5c8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "8583613909",
        "text": "=🚨 ALERT Device is DOWN Time: {{$now}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -160,
        -80
      ],
      "id": "7bcdd38a-3607-47aa-bbb8-79499986643f",
      "name": "Send a text message",
      "webhookId": "47681cb2-8708-431b-9ec8-185946c7832b",
      "credentials": {
        "telegramApi": {
          "id": "7VBDI3SdJ54wyFmX",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dbb694b5-1454-4bd6-adba-4b050e3e290f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b3a4faa92ee14f66434ca2f4e3ad290a8866eeda10fa296911f8f61288cf7e63"
  },
  "id": "3iQd80guAAPUgeUI",
  "tags": []
}